@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-purple-900;
	}

	p {
		@apply text-purple-800;
	}
  }

/* hyperlink with underline */
.anchor-with-underline {
	@apply underline;
	@apply hover:no-underline;
}

/* hide scrollbar; used for horizontal photos, reviews */
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Availability > Weekly Hours */
.availability-toggle-button {
	@apply min-w-[96px];
}

.availability-add-button {
	@apply min-w-[24px];
	@apply pr-2;
}

.availability-remove-button {
	@apply min-w-[55px];
}

	/* Time Input Only */
	.availability-input-time-only {
		@apply max-w-[227px];
	}

	/* Time & Number of Kids Inputs */
	.availability-input-time-with-no-kids-input {
		@apply min-w-[140px];
	}

	.availability-input-no-of-kids {
		@apply min-w-[100px];
	}

.availability-remove-button-time-and-kids {
	@apply min-w-[40px];
}