@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-purple-900;
	}

	p {
		@apply text-purple-800;
	}
  }

/* hyperlink with underline */
.anchor-with-underline {
	@apply underline;
	@apply hover:no-underline;
}

/* hide scrollbar; used for horizontal photos, reviews */
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Availability > Weekly Hours */
.availability-toggle-button {
	@apply min-w-[96px];
}

.availability-remove-button {
	@apply min-w-[40px];
}

.availability-add-button {
	@apply min-w-[24px];
}

.availability-small-time-input {
	@apply min-w-[140px];
}

.availability-no-of-kids-input {
	@apply min-w-[100px];
}