@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-purple-900;
	}

	p {
		@apply text-purple-800;
	}
  }

/* hyperlink with underline */
.anchor-with-underline {
	@apply underline;
	@apply hover:no-underline;
}

/* hyperlink blue */
.anchor-blue {
	@apply text-blue-500;
}

.anchor-blue:hover, .anchor-blue:active {
	@apply text-purple-500;
}

.anchor-blue:focus {
	@apply text-purple-600;
}

/* hyperlink green */
.anchor-green {
	@apply text-green-500;
}

.anchor-green:hover, .anchor-green:active {
	@apply text-green-400;
}

.anchor-green:focus {
	@apply text-green-600;
}

/* hyperlink white */
.anchor-white {
	@apply text-white;
}

.anchor-white:hover, .anchor-white:active {
	@apply text-lilac-400;
}

.anchor-white:focus {
	@apply text-green-500;
}

/* hyperlink black (lilac) */
.anchor-black {
	@apply text-lilac-900;
}

.anchor-black:hover, .anchor-black:active {
	@apply text-lilac-400;
}

.anchor-black:focus {
	@apply text-lilac-500;
}

/* Caregiver > Au Pair > Onboarding > Home Page > Country Card background image */
.country-image:hover, .country-image:active {
	@apply scale-110 transform-gpu;
}

/* hide scrollbar; used for horizontal photos, reviews */
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Availability > Weekly Hours */
.availability-toggle-button {
	@apply min-w-[96px];
}

.availability-add-button {
	@apply min-w-[24px];
}

.availability-remove-button {
	@apply min-w-[55px];
}